.navbar-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  background-color: rgba(0,0,0,0.0);
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.navbar-li {
  list-style: none;
}

.navbar-title {
  font-weight: 500;
}

.navbar-a {
  color: white;
  text-decoration: none;
}

.navbar-a:hover {
  color: #ddd;
  text-decoration: none;
}